<template>
    <b-container fluid>
        <main class="py-4">
            <router-view></router-view>
        </main>
    </b-container>
</template>

<script>
    export default {
        name: "Home",
        components: {},
    }
</script>

<style scoped>

</style>
