<template>
    <section>
        <b-col v-if="!loader" cols="12">
            <b-row v-if="Object.keys(this.city).length">
                <b-col cols="12" class="my-4">
                    <h1 class="text-center">Weather for {{city.name}}</h1>
                </b-col>
                <b-col cols="12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Time</th>
                            <th scope="col">Temp</th>
                            <th scope="col">Min Temp</th>
                            <th scope="col">Max Temp</th>
                            <th scope="col">Pressure</th>
                            <th scope="col">Humidity</th>
                            <th scope="col">Added</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(weather,index) in city.weathers">
                            <th scope="row">{{index+1}}</th>
                            <td>{{ weather.time }}</td>
                            <td>{{ weather.temp }}</td>
                            <td>{{ weather.temp_min }}</td>
                            <td>{{ weather.temp_max }}</td>
                            <td>{{ weather.pressure }}</td>
                            <td>{{ weather.humidity }}</td>
                            <td>{{ moment(weather.created_at).format('DD MMM YYYY HH:MM:SS') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </b-col>
            </b-row>
            <h1 v-else class="text-warning text-center">City not Founded!</h1>
        </b-col>
        <b-col class="vh-100 mb-3" v-else>
            <b-icon icon="circle-fill" class="loader" animation="throb" font-scale="7.5"></b-icon>
        </b-col>
    </section>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "Weather",
        data(){
            return{
                city:{},
                loader: true,
            }
        },
        methods:{
            moment:function(){
                return moment();
            },
            getCityWeather(name){
                axios.get(`/api/v1/weather/city/${name}`)
                    .then((response) => {
                            this.city = response.data.city;
                        })
                    .finally(() => {
                            this.loader = false;
                        });
            }
        },
        created() {
            this.getCityWeather(this.$route.params.city);
        }
    }
</script>

<style scoped>
    .loader{
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
</style>
